{% extends 'base.html.twig' %}

{% block title %}
    S'Enregistrer
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}

{% block body %}
    <!-- ======= Register Section ======= -->
    <section id="register" class="clearfix">
        <div class="container">
            <div class="jumbotron text-center">
                <h1>S'Enregistrer</h1>
                    {{ form_errors(registrationForm) }}
                    {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.username) }}
                    {{ form_row(registrationForm.plainPassword, { label: 'Password' }) }}
                    {{ form_row(registrationForm.agreeTerms) }}
                    <button type="submit" class="btn">Valider</button>
                    {{ form_end(registrationForm) }}
            </div>      
        </div>
    </section><!-- End Register Section -->
{% endblock %}
