<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>{% block title %}{% endblock %}</title>

        <!-- Favicons -->
        <link href="{{ asset('images/mixlogo.png') }}" rel="icon">
        <link href="{{ asset('images/mixlogo.png') }}" rel="apple-touch-icon">

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <!-- ======= Header ======= -->
        <header id="header" class="fixed-top d-flex align-items-center">
            <div class="container d-flex justify-content-between">

            <div class="logo">
                <a href="{{ path('app_home') }}"><img src="{{ asset('images/mixlogo.png') }}" alt="" class="img-fluid"> JC Conception</a>
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Accueil</a></li>
                    <li><a class="nav-link scrollto" href="#about">A propos</a></li>
                    <li><a class="nav-link scrollto" href="#services">Services</a></li>
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>

            </div>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>